@import '../styles/variables.scss';
@import '../styles/breakpoints.scss';

.home-wrapper {
  position: relative;
  display: flex;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.home-page-wrapper{
  display: flex;
  position: relative;
}

