/********* MIXINS *********/

@mixin half-page-container($color) {
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  background-color: $color;
}

/* INGREDIENTS/CATEGORIES CARDS MIXINS */

@mixin cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 250px;
  background-color: $yellow;
  margin: 10px 20px;
  outline: none;
  border-radius: 20px;
  box-shadow: 4px 4px 6px $shadow;
  cursor: pointer;
}

@mixin card-img {
  max-width: 100px;
  padding-top: 30px;
}

@mixin card-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  background-color: white;
}

@mixin card-p {
  font-family: Jost-semiBold;
  font-size: 20px;
  text-align: center;
  margin: 0 10px;
}

/* RECIPE CARDS MIXINS */

@mixin recipe-card {
  display: flex;
  height: 200px;
  width: 90%;
  background-color: white;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 4px 4px 8px $shadow;
  align-items: center;
}

@mixin recipe-card-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 20px 0 0 20px;
}

@mixin recipe-card-info-container {
  height: 130px;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 10px;
  justify-content: space-around;
}

@mixin recipe-card-extra-info {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 20px 0 0 10px;
}

@mixin recipe-extra-info-wrapper {
  text-align: center;
  height: fit-content;
}

@mixin recipe-extra-info-p {
  font-size: 18px;
  font-family: Jost-semiBold;
  margin-top: 0;
}

/* HOME MIXINS */


@mixin home-page-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-behavior: smooth;  
}

@mixin home-left-container{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

@mixin home-right-container($url){
  width: 50%;
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin home-page-h1{
  font-family: Jost-Bold;
  font-size: 70px;
  margin: 50px 30px 10px 30px; 
}

@mixin home-page-p{
  font-family: Jost-semiBold;
  font-size: 20px;
  margin: 0 30px 0 30px; 
}

@mixin home-go-to-btn{
  align-self: center;
  width: fit-content;
  height: 30px;
  border-radius: 20px;
  border: 1px solid $yellow;
  transition: all .2s ease-in-out; 
}

@mixin home-page-go-to-btn-a{
  font-family: Jost-semiBold;
  font-size: 16px;
  text-decoration: none;
  color: $yellow;
  padding: 5px 10px;
}

@mixin next-info {
  align-self: center;
  text-align: center;
  font-family: Jost-semiBold;
  font-size: 25px;
  color: $grey;
  margin: 0 30px 0 30px;
  padding: 0;
}

@mixin dot-indicators-display{
  display: flex;
  position: absolute;
  bottom: 30px;
  align-self: center;
}

@mixin nxt-icon {
  background-color: $yellow;
  border-radius: 50%;
  font-size: 35px;
  color: white;
  padding: 5px ;
  cursor: pointer;
  box-shadow: $shadow 4px 4px 5px;
}

/********* COLORS *********/

$yellow: #f7c233;
$grey: #d8d8d8;
$shadow: rgba(0, 0, 0, 0.3);

/********* FONTS *********/

@font-face {
  font-family: Jost-bold;
  src: url(./fonts/Jost-Bold.ttf);
}

@font-face {
  font-family: Jost-semiBold;
  src: url(./fonts/Jost-SemiBold.ttf);
}

@font-face {
  font-family: Jost-regular;
  src: url(./fonts/Jost-Regular.ttf);
}
